* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border: 2px solid black;
    background-color: rgb(65, 65, 65);
    padding: 5px;
}

.input-output-container {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 75px;
    width: 100%;
    height: 25%;
    background-color: rgb(96, 96, 96);
}

.input-keys {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    justify-content: flex-end;
}

.clear-delete, .row-1,
.row-2, .row-3,
.row-4 {
    display: flex;
    gap: 10px;
}

.key {
    background-color: rgb(134, 134, 134);
}

.key:hover {
    background-color: rgb(162, 162, 162);
}

.key:active {
    background-color: rgb(204, 204, 204);
}

#clear, #delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 75px;
}

.nums-operators {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 75px;
}